:root {
  --font-family: "Pretendard JP", "Apple SD Gothic Neo", sans-serif;

  /* Primary */
  --primary-normal: #0790ff;
  --primary-strong: #477eff;

  /* label */
  --label-normal: #171918;
  --label-neutral: #565656;
  --label-alternative: #b4b4b4;
  --label-disable: #e0e0e0;
  --label-white: #ffffff;

  /* Background */
  --background-normal: #fafafa;
  --background-white: #ffffff;
  --background-modal: rgba(0, 0, 0, 0.4);

  /* Line */
  --line-normal: #d7d7d7;
  --line-alternative: #e0e0e0;

  /* Fill */
  --fill-normal: #d7d7d74d;
  --fill-strong: #bcbcbc99;
  --fill-white: #ffffff;

  /* Shadow */
  --shadow-normal: 0px 4px 12px #5353531a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.2;
  color: var(--label-normal);
  background-color: var(--background-normal);
  -webkit-font-smoothing: antialiased;
}

.page_section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 160px 0;
}

.inner {
  max-width: 944px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  /* ✅ TODO: 배경색 삭제 */
  /* background-color: var(--fill-strong); */
}

.page_title {
  font-size: 22px;
  font-weight: 500;
  color: var(--primary-normal);
}

.list {
  display: flex;
}

/* 반응형 */
@media (max-width: 640px) {
  :root {
  }

  .inner {
    max-width: 80%;
    min-width: calc(100% - 32px);
  }
}
