@import url("./reset.css");
@import url("./common.css");

/* .section01 */

.section01.page_section {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
}

.section01 .inner {
  gap: 52px;
}

.section01 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.main_icon {
  width: 80px;
}

.main_title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.text_blue {
  color: var(--primary-strong);
}

.main_description {
  font-size: 16px;
  color: var(--label-neutral);
  text-align: center;
  line-height: 1.5;
}

.controller_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 82px;
}

.download_btn {
  border: 0;
  background-color: var(--fill-normal);
  border-radius: 8px;
  margin: 0 auto;
  transition: 0.3s;
}

.download_btn:hover {
  background-color: var(--primary-normal);
}

.download_btn svg path {
  stroke: var(--label-neutral);
  transition: 0.3s;
}

.download_btn:hover svg path {
  stroke: var(--label-white);
}

.download_btn a {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--label-neutral);
  transition: 0.3s;
  padding: 12px 34px;
}

.download_btn:hover a {
  color: var(--label-white);
}

.main_nav {
  background-color: var(--fill-normal);
  border-radius: 78px;
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.main_nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.main_nav li {
  font-size: 14px;
  font-weight: 500;
  color: var(--label-alternative);
  cursor: pointer;
}

.main_nav li:hover {
  color: var(--primary-normal);
}

/* .section02 */

.ability_list {
  justify-content: space-between;
  align-items: flex-start;
  gap: 28px;
}

.ability_list .item {
  max-width: 296px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.item figure {
  width: 100%;
  height: 216px;
  border-radius: 16px;
  background-color: var(--fill-normal);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.ability_list .item:nth-child(2) img {
  max-width: none;
  width: auto;
  height: 100%;
  object-fit: contain;
}

.item div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item h3 {
  font-size: 22px;
  font-weight: 600;
}

.item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--label-neutral);
}

/* .section03 */

.skill_nav {
  border-radius: 78px;
  background-color: var(--fill-normal);
  box-shadow: var(--shadow-normal);
  position: relative;
}

.skill_nav ul {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.nav_item {
  padding: 12px 20px;
  border-radius: 78px;
  color: var(--label-alternative);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}

.nav_item.on {
  color: var(--primary-normal);
}

.nav_indicator {
  height: 100%;
  position: absolute;
  top: 0;
  background-color: var(--background-white);
  border-radius: 50px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}

.skill_list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 28px;
}

.skill_list .item {
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  background-color: var(--fill-white);
  box-shadow: var(--shadow-normal);
  overflow: hidden;
  opacity: 0.1;
  transition: 0.3s;
}

.skill_list .item.on {
  opacity: 1;
}

/* .section04 */

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.career_total {
  font-size: 12px;
  font-weight: 400;
  color: var(--label-alternative);
}

.company_container {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.career_container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.company_logo {
  width: 80px;
  aspect-ratio: 1 / 1;
}

.career_col {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.company_meta {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.company_name {
  font-size: 18px;
  font-weight: 700;
}

.company_summary {
  display: flex;
  gap: 16px;
  font-size: 14px;
  font-weight: 400;
  color: var(--label-alternative);
}

.career_projects {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.career_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project_header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project_title {
  font-size: 16px;
  font-weight: 500;
}

.project_period {
  font-size: 14px;
  font-weight: 500;
  color: var(--label-alternative);
}

.project_contents {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.toggle_btn {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-normal);
  cursor: pointer;
}

.toggle_btn img {
  transition: 0.3s;
}

.toggle_btn.on img {
  transform: rotateZ(90deg);
}

.project_toggle {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 12px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.project_toggle li {
  list-style: inside;
  font-size: 14px;
  font-weight: 500;
  color: var(--label-neutral);
}

/* .section05 */

.page_description {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-normal);
}

.section05 .page_title {
  color: var(--label-normal);
}

.project_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.project_card {
  min-height: 380px;
  border: 1px solid var(--line-normal);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
}

.card_contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.project_card figure {
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  box-shadow: var(--shadow-normal);
  overflow: hidden;
  background-color: var(--fill-white);
}

.service {
  padding: 3px 5px;
  border-radius: 3px;
  background-color: var(--fill-strong);
  font-size: 12px;
  font-weight: 400;
  color: var(--label-white);
}

.service.active {
  background-color: var(--primary-normal);
}

.card_middle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card_title {
  font-size: 17px;
  font-weight: 500;
}

.card_description {
  font-size: 14px;
  font-weight: 400;
  color: var(--label-alternative);
  line-height: 1.5;
}

.card_middle a {
  font-size: 12px;
  font-weight: 500;
  color: var(--primary-normal);
  text-decoration: underline;
}

.logo_list {
  display: flex;
  gap: 8px;
}

/* .section06 */

.blog_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.blog_card {
  min-height: 216px;
  padding: 16px;
  border-radius: 16px;
  background-image: url(../assets/images/dummy-01.png);
  overflow: hidden;
  position: relative;
}

.blog_card::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.blog_contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.blog_card span {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-normal);
}

.blog_card div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blog_card .card_title {
  color: var(--label-white);
}

.blog_card p {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 400;
  color: var(--label-white);
}

.more_btn {
  border: 1px solid var(--line-normal);
  padding: 12px 24px;
  border-radius: 50px;
  background-color: var(--fill-white);
  font-size: 16px;
  font-weight: 400;
  color: var(--label-neutral);
}

/* .section07 */

.book_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.book_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.book_card figure {
  max-height: 216px;
  border-radius: 16px;
  overflow: hidden;
}

.book_card .content {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.book_card p {
  font-size: 16px;
  font-weight: 500;
  color: var(--label-neutral);
}

.book_card h3 {
  font-size: 24px;
  font-weight: 700;
  word-break: break-all;
}

.book_card span {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-normal);
}

.label_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.label {
  background-color: #000;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  color: var(--label-white);
}

/* .section08 */

.edu_list {
  width: 458px;
  display: flex;
  flex-direction: column;
  gap: 68px;
}

.edu_list .content {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.page_sub_title {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-normal);
}

.edu_container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.edu_meta {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.edu_name {
  font-size: 16px;
  font-weight: 600;
}

.edu_summary {
  font-size: 14px;
  font-weight: 500;
  color: var(--label-alternative);
  display: flex;
  gap: 16px;
}

.divider {
  font-size: 12px;
}

.edu_summary.col {
  flex-direction: column;
  gap: 4px;
}

.edu_summary .description {
  color: var(--label-neutral);
}

.row_divider {
  position: relative;
  opacity: 0;
}

.row_divider::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 1px;
  background-color: var(--line-normal);
}

/* footer .section09 */

footer {
  height: 100vh;
  display: flex;
  align-items: center;
}

footer .page_title {
  font-size: 26px;
  font-weight: 500;
  color: var(--label-normal);
  line-height: 1.5;
  text-align: center;
}

.footer_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 25px 30px;
  background-color: var(--fill-normal);
  border-radius: 16px;
}

.footer_container div,
.footer_container a {
  display: flex;
  gap: 10px;
}

.footer_container h3 {
  font-size: 14px;
  font-weight: 500;
  min-width: 48px;
}

.footer_container p {
  font-size: 14px;
  font-weight: 400;
}

/* modal */
/* body.modal-open {
  overflow: hidden;
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: var(--background-modal);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal_box {
  width: 620px;
  max-height: 725px;
  background-color: var(--background-normal);
  border-radius: 16px;
  box-shadow: var(--shadow-normal);
  overflow: hidden;
  padding: 16px;
}

.modal_inner {
  height: 693px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.modal_inner::-webkit-scrollbar {
  display: none;
}

.modal_top {
  display: flex;
  justify-content: space-between;
}

.modal_top figure {
  max-width: 340px;
  max-height: 180px;
  border-radius: 16px;
  overflow: hidden;
}

.close_btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.modal_content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  font-size: 14px;
}

.modal_content > li {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.modal_content > li.modal_project_name {
  align-items: center;
}

.modal_content h3 {
  min-width: 86px;
  font-size: 14px;
  font-weight: 400;
  color: var(--label-neutral);
}

.modal_project_name p {
  font-size: 18px;
  font-weight: 500;
}

.modal_skill {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.modal_skill li {
  font-size: 13px;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 4px;
}

.skill_dev {
  background-color: #e0f1ff;
}
.skill_source {
  background-color: #dfffd2;
}
.skill_collab {
  background-color: #ebebeb;
}
.skill_design {
  background-color: #ffeed4;
}

.modal_templete {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal_templete li {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal_title {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-normal);
}
.modal_sub_title {
  font-size: 14px;
  font-weight: 700;
}
.modal_description {
  color: var(--label-neutral);
}
.modal_templete p {
  line-height: 1.6;
}
.modal_content span {
  font-weight: 700;
  line-height: 1.6;
} */
