@import url("./reset.css");
@import url("./common.css");

/* .section01 */

.section01.page_section {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
}

.section01 .inner {
  gap: 52px;
}

.section01 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.main_icon {
  width: 80px;
}

.main_title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.text_blue {
  color: var(--primary-strong);
}

.main_description {
  font-size: 16px;
  color: var(--label-neutral);
  text-align: center;
  line-height: 1.5;
}

.controller_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 82px;
}

.download_btn {
  border: 0;
  background-color: var(--fill-normal);
  padding: 12px 34px;
  border-radius: 8px;
  margin: 0 auto;
}

.download_btn a {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--label-neutral);
}

.main_nav {
  background-color: var(--fill-normal);
  border-radius: 78px;
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.main_nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.main_nav li {
  font-size: 14px;
  font-weight: 400;
  color: var(--label-neutral);
  cursor: pointer;
}

/* .section02 */

.ability_list {
  justify-content: space-between;
  align-items: flex-start;
  gap: 28px;
}

.ability_list .item {
  width: 100%;
}

.item a {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/* ✅ TODO: 이미지 넣고나면 높이값 삭제 */
.item figure {
  width: 100%;
  height: 216px;
  border-radius: 16px;
  background-color: var(--fill-normal);
}

.item div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item h3 {
  font-size: 18px;
  font-weight: 600;
}

.item p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--label-neutral);
}

/* .section03 */

.skill_nav {
  border-radius: 78px;
  background-color: var(--fill-normal);
  box-shadow: var(--shadow-normal);
}

.skill_nav ul {
  display: flex;
  align-items: center;
}

.nav_item {
  padding: 12px 20px;
  border-radius: 78px;
  color: var(--label-alternative);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.nav_item.on {
  background-color: var(--fill-white);
  color: var(--primary-normal);
}

.skill_list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 28px;
}

.skill_list .item {
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  background-color: var(--fill-white);
  box-shadow: var(--shadow-normal);
  overflow: hidden;
  opacity: 0.1;
}

.skill_list .item.on {
  opacity: 1;
}

/* .section04 */

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.career_total {
  font-size: 12px;
  font-weight: 400;
  color: var(--label-alternative);
}

.company_container {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.career_container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.company_logo {
  width: 80px;
  aspect-ratio: 1 / 1;
}

.career_col {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.company_meta {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.company_name {
  font-size: 18px;
  font-weight: 700;
}

.company_summary {
  display: flex;
  gap: 16px;
  font-size: 14px;
  font-weight: 400;
  color: var(--label-alternative);
}

.career_projects {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.career_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project_header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project_title {
  font-size: 16px;
  font-weight: 500;
}

.project_period {
  font-size: 14px;
  font-weight: 500;
  color: var(--label-alternative);
}

.project_contents {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project_toggle {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 12px;
}

.toggle_btn {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-normal);
}

.toggle_btn.on img {
  transform: rotateZ(90deg);
}

.project_toggle li {
  /* ✅ TODO : 클릭이벤트 할 때 주석풀기 */
  /* height: 0; */
  /* overflow: hidden; */
  list-style: inside;
  font-size: 14px;
  font-weight: 500;
  color: var(--label-neutral);
}

.project_toggle.on li {
  height: auto;
}
