@import url("./reset.css");
@import url("./common.css");

/* .section01 */

.section01.page_section {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
}

.section01 .inner {
  gap: 52px;
}

.section01 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.main_icon {
  width: 80px;
}

.main_title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.text_blue {
  color: var(--primary-strong);
}

.main_description {
  font-size: 16px;
  color: var(--label-neutral);
  text-align: center;
  line-height: 1.5;
}

.controller_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 82px;
}

.download_btn {
  border: 0;
  background-color: var(--fill-normal);
  padding: 12px 34px;
  border-radius: 8px;
  margin: 0 auto;
}

.download_btn a {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--label-neutral);
}

.main_nav {
  background-color: var(--fill-normal);
  border-radius: 78px;
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.main_nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.main_nav li {
  font-size: 14px;
  font-weight: 400;
  color: var(--label-neutral);
  cursor: pointer;
}

/* .section02 */

.ability_list {
  justify-content: space-between;
  align-items: flex-start;
  gap: 28px;
}

.ability_list .item {
  width: 100%;
}

.item a {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/* ✅ TODO: 이미지 넣고나면 높이값 삭제 */
.item figure {
  width: 100%;
  height: 216px;
  border-radius: 16px;
  background-color: var(--fill-normal);
}

.item div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item h3 {
  font-size: 18px;
  font-weight: 600;
}

.item p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--label-neutral);
}
